# requirements.txt

aioesphomeapi==23.2.0
aiohappyeyeballs==2.3.2
aiohttp==3.9.3
aiosignal==1.3.1
ajsonrpc==1.2.0
anyio==4.2.0
argcomplete==3.2.2
async-interrupt==1.1.1
asyncio==3.4.3
attrs==23.2.0
beautifulsoup4==4.12.3
bitarray==2.9.2
bitstring==4.1.4
bottle==0.12.25
bs4==0.0.2
certifi==2024.2.2
cffi==1.16.0
chacha20poly1305-reuseable==0.12.1
charset-normalizer==3.3.2
click==8.1.7
colorama==0.4.6
cryptography==42.0.2
cstruct==5.3
ecdsa==0.18.0
esphome==2024.4.1
esphome-dashboard==20240412.0
esptool==4.7.0
frozenlist==1.4.1
h11==0.14.0
icmplib==3.0.4
idna==3.6
ifaddr==0.2.0
intelhex==2.3.0
jefferson==0.4.5
kconfiglib==13.7.1
lzallright==0.2.4
m3u-parser==0.4.1
marshmallow==3.20.2
multidict==6.0.5
noiseprotocol==0.3.1
packaging==23.2
paho-mqtt==1.6.1
platformio==6.1.15
protobuf==4.25.2
pycountry==23.12.11
pycparser==2.21
pyelftools==0.30
pyparsing==3.1.1
pyserial==3.5
python-dvr==0.0.1
python-magic==0.4.27
PyYAML==6.0.1
reedsolo==1.7.0
requests==2.31.0
ruamel.yaml==0.18.6
ruamel.yaml.clib==0.2.8
semantic-version==2.10.0
six==1.16.0
sniffio==1.3.0
soupsieve==2.5
starlette==0.31.1
tabulate==0.9.0
tornado==6.4
tzdata==2024.1
tzlocal==5.2
urllib3==2.2.0
uvicorn==0.23.2
voluptuous==0.14.2
wheel==0.42.0
wsproto==1.2.0
yarl==1.9.4
zeroconf==0.131.0
